# From `iPhone_4.7_P3_13.0_17A577_Restore.ipsw`.
# Path: /root/System/Library/Fonts/Core/Helvetica*.ttc
fonts/Helvetica/Helvetica.ttc filter=lfs diff=lfs merge=lfs -text
fonts/Helvetica/HelveticaNeue.ttc filter=lfs diff=lfs merge=lfs -text
fonts/Helvetica/HelveticaNeueExtras.ttc filter=lfs diff=lfs merge=lfs -text
fonts/Helvetica/HelveticaNeueInterface.ttc filter=lfs diff=lfs merge=lfs -text
fonts/Helvetica/HelveticaNeueLights.ttc filter=lfs diff=lfs merge=lfs -text

# From `UniversalMac_11.0.1_20B29_Restore.ipsw`.
# Path: /root/System/Library/Fonts/*Heiti*.ttc
fonts/Heiti/STHeiti[[:space:]]Light.ttc filter=lfs diff=lfs merge=lfs -text
fonts/Heiti/STHeiti[[:space:]]Medium.ttc filter=lfs diff=lfs merge=lfs -text
